---
tags: atlarge
name: "Cayden Davis"
headshot: davis.png
status: candidate
description: 'Davis is a "proud, openly trans man", Clark grad, and Main South renter. He works as a project coordinator at Metrowest Care connection.'
sortOrder: 3
layout: candidate.liquid
---
{% assign surveyLink = "https://www.progressivemass.com/wp-content/uploads/2025/08/2025-PM-Municipal-Questionnaire_CaydenDavis.docx.pdf" %}
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
  <section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li>
      <b>Housing</b>: "Housing Justice" is one of Cayden Davis' top priorities if elected. He supports several affordable housing policies, including rent stabilization, expanding first-time home buyer incentives, and real estate transfer fees on high-end real estate transactions to create dedicated funding for affordable housing. Davis supports legislation modeled after Louisville's Anti-Displacement Ordinance, that requires that housing development receiving city funds demonstrate that it will not contribute to the displacement of current residents, and ensures public subsidies support projects serving residents earning 30% or less of the area median income.<sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Education: </b>Davis is committed to fully-funding schools, including "wraparound" services like mental health counseling, healthcare access, nutrition programs, and after-school activities. Davis wants to assess disparities in resources and outcomes across the Worcester Public school system and target investments to address those disparities, particularly with students of color, LGBTQ+ students, english-language learners, students with disabilities, and students from low-income families. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    <li>
      <b>Police: </b>Davis supports a Civilian Review Board with "real power", following a <a href="https://www.justice.gov/archives/opa/pr/justice-department-finds-civil-rights-violations-worcester-police-department-and-city" target="_blank">DOJ report</a> that detailed several police civil right abuses, including sexual coercion and excessive use of force. He also supports the creation of an community-based emergency response program to respond to mental and behavioral health crises. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Immigration</b>: Davis has called on the city and police department to make an exlicit commitment to not participate in immigration enforcement, including "refusing to detain or share information about undocumented residents except as required by law, and always verifying the identity of federal agents seeking access to city facilities or residents." <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Public Transportation: </b>Davis wants to improve public transit options, including the expansion of bus routes and service hours, and improving the reliability of service. Davis supports the expansion of protected bike lanes across the city. Davis says he will "push for equitable transit planning that centers the needs of low-income communities and those who rely most on public transportation, so improvements address historic gaps in service and safety." <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Sustainability:</b> Davis has promised to prioritize expanding green infrastructuree to "manage stormwater, reduce heat islands, and protect vulnerable neighborhoods". He has committed to expand access to clean energy heating and cooling for all Worcester residents, but especially low-income communities and renters. <sup><a href="{{surveyLink}}">source</a></sup>
    <li>
      <b>LGBTQ+</b>: Davis is a "proud, openly trans man" who has advocated for LGBTQ+ issues at city council, particularly after Candy Mero-Carlson was accused of making transphobic comments. Davis was one of several activists who successfully pushed for a resolution to <a href="https://www.wgbh.org/news/local/2025-02-12/worcester-city-council-votes-to-make-city-sanctuary-for-transgender-people" target="_blank">declare Worcester a sanctuary for transgender and gender-diverse people</a> as well as a commitment to <a href="https://theworcesterguardian.org/f/councilors-face-pressure-to-back-words-with-action-for-lgbtqia" target="_blank">allocate $500,000 for a Queer and Trans Resilience fund</a>.
    </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
