---
tags: atlarge
name: "Joe Petty"
headshot: petty.png
status: incumbent
description: "Joe Petty is the seven-term Mayor of Worcester (and fourteen-term councilor). While liberal in some respects, he increasingly finds himself at-odds with the city's progressives."
sortOrder: 13
layout: candidate.liquid
---
{% assign surveyLink = "https://www.progressivemass.com/wp-content/uploads/2025/08/Joe-Petty_2025-PM-Municipal-Questionnaire.docx.pdf" %}
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Joe Petty is the seven-term Mayor of Worcester (and fourteen-term councilor). His stated <a href="{{surveyLink}}" target="_blank">top priorities</a> for a new term are school construction (including a new Burncoat High and improvements for East Middle School), continuing to invest in the Worcester Police Department, and "growing Worcester through inclusive economic development".

  <p class="section__description">While liberal in some respects, he increasingly finds himself at-odds with the city's progressives. Petty has <a href="https://theworcesterguardian.org/f/protesters-disrupt-worcester-council-meeting-over-ice-involvement" target="_blank">antagonized activists</a> calling for police accountability following th ICE raid on Eureka street, calling them "disruptive" rather than addressing their material concerns. After Thu Nguyen accused Candy Mero-Carlson of making transphobic comments, rather than using the power of his position to hold Mero-Carlson accountable, he <a href="https://www.worcestersucks.email/p/deny-deflect-retaliate" target="_blank">chastized Nguyen</a> for participating in meetings remotely.</p>

  <p class="section__description">On the other hand, Mayor Petty has taken up some progressive causes, including the city's <a href="https://www.worcesterma.gov/mobility/vision-zero" target="_blank">Vision Zero plan</a> to eliminate traffic fatalities and build safer streets for pedestrians and cyclists. After a slew of pedestrian injuries and deaths, Petty declared a <a href="https://www.worcesterma.gov/announcements/statement-mayor-joseph-m-petty-and-city-manager-eric-d-batista-traffic-violence" target="_blank">"Road Safety and Traffic Violence Crisis"</a>. He successfully pressured Councilor Donna Colorio to move city's speed limit reduction proposal out of committee, where it had languished for months.</p>

  <p class="section__description">Petty boasts that he's overseen more than $2 billion in public and private investments across the city, some of which have led to soaring housing costs and generational burdens on the city's residents. Petty's donor base consists heavily of developers and business interests who have benefitted from those investments, including Larry Lucchino, former owner of the Worcester Red Sox. Under Mayor Petty, Worcester took out a <a href="https://www.bostonglobe.com/business/2018/08/17/pawsox-owners-prepare-move-team-worcester/ku4CVdjYluqzRaOlYQcHmK/story.html?event=event12">$100 million dollar loan via municipal bonds</a> to build Polar Park, part of a deal for the Pawtucket Red Sox to move to Worcester. Despite promises that the project would pay for itself, several development projects around Polar Park have stalled or been abandoned, and taxpayers have been left to foot the bill. This year, the city had to cover a <a href="https://www.wbjournal.com/article/polar-parks-second-inning-almost-five-years-into-a-35-year-project-woosox-are-still-drawing#:~:text=Corrected%20attendance%20figures%20show%20the,50%20ticketed%20events%20in%202022." target="_blank">$792,000 shortfall</a> with general funds, i.e taxpayer money. In 2023, Larry Lucchino <a href="https://www.boston.com/sports/boston-red-sox/2023/12/01/woosox-sale-larry-lucchino-diamond-baseball-holdings/" target="_blank">sold the WooSox for an undisclosed sum.</a></p>
  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
<section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li>
      <b>Housing</b>: Joe Petty's solution to the housing crisis is to build at least 1,000 new units of housing a year, a task that requires close cooperation with real estate developers that make up the Mayor's major donor base. He supports some affordable housing policy, like rent stabilization, but declined to answer whether or not he would support a transfer fee on high-end real estate deals to create funding for affordable housing. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Police: </b> One of Petty's top campaign promises is to continue to invest in the Worcester Police Department. He has been <a href="https://theworcesterguardian.org/f/protesters-disrupt-worcester-council-meeting-over-ice-involvement" target="_blank">antagonistic towards activists</a> asking for more police accountability in the wake of cooperation with ICE and a <a href="https://www.justice.gov/archives/opa/pr/justice-department-finds-civil-rights-violations-worcester-police-department-and-city" target="_blank">DOJ report</a> that detailed several police civil right abuses, including sexual coercion and excessive use of force. On paper, he supports the creation of a non-police emergency response program for mental and behavioral health crises. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Education: </b> Petty wants to build a new Burncoat High School and make improvements to East Middle School. Petty advocates full-funding for schools under the Student Opportunity Act. He opposes the expansion of charter schools. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li><b>Public Transportation</b>: Petty is a staunch proponent of Worcester's Vision Zero safety plan, and has taken action to expedite traffic safety measure by declaring a <a href="https://www.worcesterma.gov/announcements/statement-mayor-joseph-m-petty-and-city-manager-eric-d-batista-traffic-violence" target="_blank">"Road Safety and Traffic Violence Crisis"</a>. He wants to connect every neighborhood with a network of protected bike lanes. He supports the WRTA's fare-free bus program. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup></li>
    <li><b>Sustainability</b>: Petty's top priority for environmental sustainability is to plant 1,000 new trees by 2026, with a focus "environmental justice" neighborhoods where residents are most affected by heat, flooding, and poor air quality. supports adopting building codes that would mandate new construction and renovations make use of modern, high-efficiency heating and cooling systems. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup></li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
