---
tags: d2
name: "Rob Bilotta"
status: candidate
headshot: bilotta.png
description: "Born and raised in Worcester, Rob Bilotta is housing and disability advocate, as well as a member of the Worcester Human Rights Commission and Together Affordable Housing Coalition"
sortOrder: 4
layout: candidate.liquid
---
{% assign surveyLink = "https://www.progressivemass.com/wp-content/uploads/2025/08/Robert-Bilotta_2025-PM-Municipal-Questionnaire.docx.pdf" %}
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Rob Bilotta is a disability rights and housing advocate who has been active in petitioning city for affordable housing and traffic calming measures. Bilotta ran for city council in 2023 after being heavily involved in the city's <a href="https://patch.com/massachusetts/worcester/rob-bilotta-runs-worcester-district-2-council-fresh-face" target="_blank">inclusionary zoning ordinance</a>. His top priorities, if elected, are creating more affordable housing, improving neighborhood infrastructure, and expanding STEM and special education programs.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
  <section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li>
      <b>Housing:</b> Bilotta supports several affordable housing policies, including rent stabilization, expanding first-time home buyer incentives, and legalizing accessory dwelling units (ADUs). He has petitioned city council to <a href="https://www.telegram.com/story/opinion/columns/guest/2025/03/16/opinionguest-column-worcesters-senior-housing-needs-new-leadership/81160150007/" target="_blank">expand Worcester's senior homeowner tax credit.</a> He supports real estate transfer fees on high-end real estate transactions to create dedicated funding for affordable housing. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Education:</b> Bilotta wants to work with Worcester's higher education institutions to increase PILOT contributions for STEM and special education programs. He opposes the expansion of charter schools. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup></b>
    </li>
    <li>
      <b>Police:</b> Bilotta supports the creation of an community-based emergency response program to respond to mental and behavioral health crises. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Immigration:</b> Bilotta wants to address ICE activity in Worcester by providing information to migrant communities to stay informed and know their rights. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Public Transportation:</b> Bilotta is in favor of making the <a href="{{surveyLink}}" target="_blank">fare-free WRTA program permanent</a>. A major pillar of Bilotta's campaign platform is improving neighborhood infrastructure, including sidewalks, crosswalks, lighting, signage, and other traffic calming measures. Rob has <a href="https://www.telegram.com/story/opinion/columns/guest/2024/08/18/robert-bilotta-on-clearing-obstacles-to-safer-streets-in-worcester/74780622007/" target="_blank">written about the importance of taffic safety</a>, and has submitted several petitions for traffic calming measures in his district. Bilotta supports the expansion of protected bike lanes across the city. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Sustainability:</b> Bilotta supports tax incentives for new construction using green technology, adopting building codes that would mandate new construction and renovations make use of modern, high-efficiency heating and cooling systems, as well as expanding the city's tree canopy. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
