---
tags: d1
name: "Tony Economou"
status: candidate
headshot: economou.png
description: 'Tony Economou is a former three-term city councilor and real estate agent, who wants to "bring back common sense", i.e continue business-as-usual, small-town politics.'
sortOrder: 1
layout: candidate.liquid
---
{% assign surveyLink = "https://www.progressivemass.com/wp-content/uploads/2025/08/Tony-Economou_2025-PM-Municipal-Questionnaire.docx.pdf" %}
<section>
  <h2>Who is {{name}}?</h2>
  <p class="section__description">Tony Economou served as Worcester's District 1 Councilor from 2011-2017. Economou has worked in the real-estate industry for over 26 years, and represents the interests of real estate developers and landlords alike. His top priority for the city is to "bring back common sense", a dog whistle for folks who would like to silence activists seeking more action from the city council on police misconduct, cooperation with ICE, inhumane policies towards the homeless, and rising LGBTQ+ hate.</p>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
  <section>
  <h2>What are {{name}}'s Political Positions?</h2>

  <ul>
    <li>
      <b>Housing:</b> Economou opposes several initiatives to make housing affordable, including rent stabilization and a small fee on high-end real estate transactions to create an affordable housing fund. When asked what policies support to keep Worcester affordable, he gave no answer. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Education</b>: Economou wants to build a new Burncoat High School and opposes the expansion of charter schools. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Public Trandsportation:</b> Economou opposes fare-free buses, a wildly-popular transportation program that <a href="https://www.telegram.com/story/business/transportation/2024/04/18/wrta-vote-free-bus-rides-in-worcester-to-continue-into-2025/73358982007/" target="_blank">provides 3-4 million free trips annually</a>, and is supported by <a href="https://spectrumnews1.com/ma/worcester/news/2025/06/25/free-bus-fare-wrta-regional-transit" target="_blank">70% of Worcester residents</a>. He also opposes the expansion of protected bike lanes in the city, including the Mill Street redesign that has <a href="https://theworcesterguardian.org/f/council-presses-for-answers-on-mill-street-safety-costs-steps">reduced automotive speeding and crashes</a>. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
    <li>
      <b>Immigration</b>: When asked "What can your city do to help protect immigrant communities under ICE and ensure genuine community safe?", Economou simply answered, "The community is safe". <sup><a href="{{surveyLink}}" target="_blank">3</a></sup>
    </li>
    <li>
      <b>Sustainability</b>: Economou opposes adopting building codes that would mandate new construction and renovations make use of modern, high-efficiency heating and cooling systems. <sup><a href="{{surveyLink}}" target="_blank">source</a></sup>
    </li>
  </ul>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
</section>
