---
title: "Worcester City Council 2025 Election Guide"
---
{% render "header-home.liquid", site: site %}
<main>
  {% include "home/at-large.liquid" %}
  {% include "home/district.liquid" %}
  <section>
    <h2>Which candidate has raised the most money in 2025?</h2>
    <div class="grid grid--2">
      <div class="collapsible">
        <div class="collapsible__container collapsible__container--collapsed">
          <table>
            <caption class="table__title">Total donations by candidate</caption>
            <tr>
              <th>Candidate</th>
              <th>$ Raised</th>
              <th>District</th>
            </tr>
            {% assign candidatesByTotal = candidates | sort: "totalDonations" | reverse %}
            {%- for c in candidatesByTotal %}
              {% assign candidate = collections.candidates | find: "data.name", c.name %}
              <tr>
                <td class="table__candidate">{{c.name}}</td>
                <td class="table__value">{{c.totalDonations | money}}</td>
                <td class="table__district">{{candidate.data.tags | district }}</td>
              </tr>
            {%- endfor %}
          </table>
        </div>
        <a class="collapsible__trigger">Show More</a>
      </div>
      <div class="center container container--sm">
        {% render "winner.liquid", name: "Joe Petty" slug: "petty" %}
        <p>Mayor Joe Petty has recently overtaken Satya Mitra for the most donations overall. Petty collected over $11,000 in October, despite almost no campaign spending since September. Most of Petty's donors come from affiliates and members of the Worcester Regional Chamber of Commerce.</p>

        <div class="bottom-link">
          <a href="{{site.url}}/candidates/satya-mitra">Learn more about Satra Mitra &gt;</a>
        </div>
      </div>
    </div>
    <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
  </section>
  <section>
    <h2>Which candidate's donors have the deepest pockets?</h2>
     <div class="grid grid--2">
        <div class="collapsible">
          <div class="collapsible__container collapsible__container--collapsed">
            <table>
              <caption class="table__title">Average Donation Amount</caption>
              <tr>
                <th>Candidate</th>
                <th>Avg. Donation</th>
                <th># of Donors</th>
              </tr>
              {% assign candidatesByAvg = candidates | sort: "averageDonation" | reverse  %}
              {%- for c in candidatesByAvg %}
                {% assign candidate = collections.candidates | find: "data.name", c.name %}
                <tr>
                  <td class="table__candidate">{{c.name}}</td>
                  <td class="table__value">{{c.averageDonation | money}}</td>
                  <td class="table__district">{{c.donations}}</td>
                </tr>
              {%- endfor %}
            </table>
          </div>
          <a class="collapsible__trigger">Show More</a>
        </div>
        <div class="center container container--sm">
          {% render "winner.liquid", name: "Satya Mitra" slug: "mitra" %}
          <p>Satya Mitra's 232 donors have given an average of $385 each, 50% more than the average of the next candidate (Joe Petty). Mitra has the highest number of donors who have maxed out to the donation limit of $1,000.</p>

          <div class="bottom-link"><a href="{{site.url}}/candidates/joe-petty">Learn more about Joe Petty &gt;</a></div>
        </div>
      </div>
    </div>
    <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
  </section>
  {% include "home/donation-location.liquid" %}
</main>
