<section class="section">
  <h2>How much money has {{candidate.name}} raised?</h2>
  <div class="grid grid--3">
    <div class="centered">
      <div>
        <h3>Lifetime Raised</h3>
        <p class="bignumber bignumber--alt">{{candidate.allTimeDonations | money}}</p>
      </div>
    </div>
    <div class="centered">
      <div>
        <h3>2024-2025 Donations</h3>
        <p class="bignumber">{{candidate.totalDonations | money}}</p>
      </div>
    </div>
    <div>
      <table>
        <caption><h3>{{candidate.name}}'s 2024-2025 Donations by Location</h3></caption>
        <tr>
          <th>Location</th>
          <th>Total</th>
          <th>Percent</th>
        </tr>
        <tr>
          <td class="table__candidate">Worcester</td>
          <td class="table__value">{{candidate.worcDonations | money}}</td>
          <td class="table__percent">{{candidate.worcPct | percent}}%</td>
        </tr>
        <tr>
          <td class="table__candidate">Massachusetts*</td>
          <td class="table__value">{{candidate.maDonations | money}}</td>
          <td class="table__percent">{{candidate.maPct | percent}}%</td>
        </tr>
        <tr>
          <td class="table__candidate">Out-of-State</td>
          <td class="table__value">{{candidate.oosDonations | money}}</td>
          <td class="table__percent">{{candidate.oosPct | percent}}%</td>
        </tr>
      </table>
      <p class="footnote">* Massachusetts donations excluding Worcester</p>
    </div>
  </div>
</section>
<section class="section--wide">
  <h2>Who are {{candidate.name}}'s Top Donors?</h2>
  <div class="grid grid--4">
    {% for donor in candidate.topDonorsAllTime %}
      <div class="card">
        <h3>{{donor.name | firstlast | titlecase }}</h3>
        {% if donor.city != '' %}
          <h4>{{donor.city}}, {{donor.state}}</h4>
        {% endif %}
        <p class="bignumber bignumber--donor">{{donor.total | money }}</p>
      </div>
    {% endfor %}
  </div>
</section>
<!--<section class="section--wide">

  <p class="section__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <div class="grid grid--4">
    <div>
      <table>
        <caption class="table__title">{{candidate.name}}'s Campaign Contributions, Categorized</caption>
        <tr>
          <th>Category</th>
          <th>Total Raised</th>
        </tr>
        <tr>
          <td class="table__candidate">Real Estate</td>
          <td class="table__value">$XX,000</td>
        </tr>
        <tr>
          <td class="table__candidate">Police</td>
          <td class="table__value">$XX,000</td>
        </tr>
        <tr>
          <td class="table__candidate">Education</td>
          <td class="table__value">$XX,000</td>
        </tr>
        <tr>
          <td class="table__candidate">Other</td>
          <td class="table__value">$XX,000</td>
        </tr>
      </table>
    </div>
    <div class="card">
      <h3>Joey Police Union</h3>
      <img class="header__head" src="../images/head-sample.png" alt=""/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p class="donations">Lifetime Donations: $XX,000</p>
      <p class="center"><span class="pill pill--blue">Police</span></p>
    </div>
    <div class="card">
      <h3>Mr. Woosox</h3>
      <img class="header__head" src="../images/head-sample.png" alt=""/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p class="donations">Lifetime Donations: $XX,000</p>
      <p class="center"><span class="pill pill--lavender">Real Estate</span></p>
      <p class="center"><span class="pill">Business</span></p>
    </div>
    <div class="card">
      <h3>Suzy STEM</h3>
      <img class="header__head" src="../images/head-sample.png" alt=""/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

      <p class="donations">Lifetime Donations: $XX,000</p>
      <p class="center"><span class="pill pill--mint">Education</span></p>
    </div>
  </div>

  <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>-->
</section>
