<header class="header header--candidate">
  <div class="header__presents">
    <img src="{{site.url}}/images/mascot-small.jpg" alt=""/>
    <p>Worcester City Council 2025 Election</p>
  </div>
  <div class="header__body header__body--candidate">
    <div>
      <img class="header__head" src="{{site.url}}/images/{{headshot}}" alt="{{name}}"/>
    </div>
    <div>
      <h1>{{ name }}</h1>
      <p>{{ status | capitalize }}, {{ district }}</p>
    </div>
  </div>
</header>
