<{{tag}}><a href="{{site.url}}{{candidate.url}}">{{candidate.data.name}}</a></{{tag}}>
{% render "headshot.liquid", candidate: candidate, wide: wide %}
<p>{{candidate.data.description}}</p>
<p><a href="{{site.url}}{{candidate.url}}" class="card__cta">
  Learn more about {{candidate.data.name}}
</a></p>
