<footer>
  <div class="container">
    <h2 class="footer__hed">Worcester City Council Election Guide</h2>
    <div class="footer__grid">
      <div class="footer__logo-container">
        <img loading="lazy" class="footer__logo" src="{{site.url}}/images/logo-bb.png" alt="Worcester Sucks & I Love It" />
      </div>
      <div>
        <h3>At-Large Candidates</h3>
        <ul>
          {% assign candidatesAlByName = collections.atlarge | sort: "data.sortOrder" %}
          {% for candidate in candidatesAlByName %}
            <li><a href="{{site.url}}{{candidate.url}}" class="footer_link">{{candidate.data.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div>
        <h3>District Candidates</h3>
        <ul>
          {% assign allCandidates = collections.candidates | sort: "data.sortOrder" %}
          {% for candidate in allCandidates %}
            {% unless candidate | isAtLarge %}
              <li>
                <a href="{{site.url}}{{candidate.url}}" class="footer_link">{{candidate.data.name}}</a>
              </li>
            {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
    <p>This has been a special presentation of <a href="https://www.worcestersucks.email/" target="_blank">Worcester Sucks</a>. If you'd like to support more independent, local journalism, including this project, <a href="https://www.worcestersucks.email/" target="_blank">subscribe here</a>.</p>
    <p class="timestamp">Last updated {{ "now" | date: "%B %d, %Y" }}</p>
  </div>
</footer>
