<header class="header">
  <div class="header__presents">
    <img src="images/mascot-small.jpg" alt=""/>
    <p>Worcester Sucks Presents...</p>
  </div>
  <div class="header__body">
    <h1>Your Guide to the 2025 Worcester City Council Election</h1>
    <div role="img" aria-label="Wavy Line Shape" class="wavy-line"></div>
    <div class="header__heads">
      <img class="header__head" src="{{site.url}}/images/bergman.png" alt=""/>
      <img class="header__head header__head--wide" src="{{site.url}}/images/colorio.png" alt=""/>
      <img class="header__head" src="{{site.url}}/images/etel.png" alt=""/>
      <img class="header__head" src="{{site.url}}/images/king.png" alt=""/>
      <img class="header__head" src="{{site.url}}//images/candy.png" alt=""/>
      <img class="header__head" src="{{site.url}}/images/ojeda.png" alt=""/>
      <img class="header__head" src="{{ site.url }}/images/petty.png" alt=""/>
      <img class="header__head" src="{{ site.url }}/images/toomey.png" alt=""/>
    </div>
    <p>Who's running, and who owns them? Follow the campaign finance trail to find out.</p>
    <p class="header__smalltext header__smalltext--margin">by Gillian Ganesan &amp; Greg Opperman</p>
    <p class="header__smalltext">Last Updated September 1, 2025</p>
    <div role="img" aria-label="Down Pointer" class="down">⌄</div>
  </div>
</header>
