<header class="header header--candidate header--alt-color">
  <div class="header__body">
    <h1>{{ title }}</h1>
    <div class="money">
        <img src="{{site.url}}/images/money-flying.gif" class="money__gif" alt="Money with Wings" />
        <img src="{{site.url}}/images/money-flying.gif" class="money__gif" alt="Money with Wings" />
        <img src="{{site.url}}/images/money-flying.gif" class="money__gif" alt="Money with Wings" />
    </div>
    <p>{{description}}</p>
    <p class="header__smalltext header__smalltext--margin">by Greg Opperman</p>
  </div>
</header>
